/* delete list marks, margins and padding */
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
/* END delete list marks, margins and padding */

/* delete links underline */
.link {
  text-decoration: none;
}
/* END delete links underline */

/* visualy-hidden */
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* END visualy-hidden */
