body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: $text-color-main;
  background-color: $bgc-main;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}
