// Main tekst colors
$text-color-main: #2E2520;
$text-color-second:#000000;
$text-color-placeholder: rgba(171, 129, 108, 0.5);

// Bgc colors
$bgc-main:#FFFFFF;
$bgc-desktop-main:#FFFFF9;
$bgc-second:#FEF3E4;
$bgc-menu: rgba(254, 243, 228, 0.9);
$bgc-registration-form: #FFFFF9;
// If reviewer photo not load
$bgc-reviewer-img: #C4C4C4;

// Buttons
$button-main-bgc: #AB816C;
$button-main-text-color: #FFFFFF;

// Overflow button 'Read more'
$button-overflow-text-color: #AB816C;

$button-burger-color: #2E2520;
$button-close-color: #2E2520;

// Action colours
$focuse-color:#674D40;
$hover-color:#876655;
$current-color:#674D40;

// Borders
$border-main: 1px solid rgba(171, 129, 108, 1);
$border-light: 1px solid rgba(171, 129, 108, 0.5);

// Shadows
$shadow-registration-form: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
$shadow-program-circle: 0px 4px 4px rgba(171, 129, 108, 0.25);

// Ikon colors
$icon-color-social:#2E2520;
$icon-color-contact:#2E2520;
$icon-color-program:#674D40;
$icon-color-star:#AB816C;


// Alena














// Anna














// Viktoria














// Nazar














// Vitaliy














// Igor