<!-- <button class="btn-primary">Register</button>
<div>
  <p class="item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusamus
    tempore perferendis autem magni saepe praesentium inventore fugit iure,
    voluptas quia, maiores, excepturi ipsam. Eius recusandae exercitationem
    aliquid inventore ducimus, similique sed? Nihil nam quisquam omnis magni
    deserunt labore, explicabo vero quia in, mollitia perspiciatis voluptatum
    saepe corrupti debitis quas maiores a praesentium tempora ullam eveniet
    rerum reiciendis eaque fugiat.
  </p>
  <input class="hidden-text visually-hidden" type="checkbox" id="text" />
  <p class="item item2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusamus
    tempore perferendis autem magni saepe praesentium inventore fugit iure,
    voluptas quia, maiores, excepturi ipsam. Eius recusandae exercitationem
    aliquid inventore ducimus, similique sed? Nihil nam quisquam omnis magni
    deserunt labore, explicabo vero quia in, mollitia perspiciatis voluptatum
    saepe corrupti debitis quas maiores a praesentium tempora ullam eveniet
    rerum reiciendis eaque fugiat.
  </p>
  <label for="text" class="btn-secondary"
    >Read <span class="btn-secondary--more">more</span
    ><span class="btn-secondary--less">less</span></label
  >
</div> -->
