<section class="contact-section">
  <h2 class="contact-section__header">Contact</h2>
  <p class="contact-section__text">We will answer any question!</p>
  <form class="contact-section__form form">
    <div class="contact-section__input-box">
      <input type="email" class="input" name="mail" placeholder="Email" />
      <input
        type="text"
        class="input"
        name="question"
        placeholder="Type your question"
      />
    </div>
    <button class="btn-primary contact-section__btn" type="submit">Send</button>
  </form>
</section>
