<section class="contact-section">
  <h2 class="contact-section__header">Contact</h2>
  <form class="contact-section__form form form--contact">
    <p class="form__title">We will answer any question!</p>
      <input
        type="email"
        class="form__input"
        name="mail"
        placeholder="Email"
        required
        pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        title="Please enter valid email address. Format: username@hostname.tld"
      />
      <input
        type="text"
        class="form__input"
        name="question"
        placeholder="Type your question"
        required
        pattern="[A-Za-z0-9\s§&!?=()]{1,400}"
        title="Please provide all questions using Latin letters"
      />
    <button class="btn-primary contact-section__btn" type="submit">Send</button>
  </form>
</section>
