<div class="subscribe">
    <p class="subscribe__title">Apply your personal info
for registration </p>
    <form class="subscribe__form" autocomplete="on" novalidate>
        <label>
            <input class="subscribe__input" type="text" name="subscribe__name" placeholder="Your name"/>
        </label>
        <label>
            <input class="subscribe__input" type="tel" name="subscribe__email" placeholder="Phone number"/>
        </label>
        <label>
            <input class="subscribe__input" type="email" name="subscribe-email" placeholder="Email"/>
        </label>
    </form>
</div>