<section class="hero">
  <div class="container">
    <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
    <h2 class="hero__text">Hosted by Eva Green</h2>
    <a class="hero__button btn-primary" href="#registration">Register</a>
    <ul class="social list">
      <li class="social__item">
        <a href="" class="social__link link">
          <svg class="social__icon">
            <use href="./images/svg-images/source-svg.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="" class="social__link link">
          <svg class="social__icon">
            <use href="./images/svg-images/source-svg.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="" class="social__link link">
          <svg class="social__icon">
            <use href="./images/svg-images/source-svg.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
