<div class="menu-wrapper">
    <div class="container menu-container">
        <div class="logo-menu-container">
            <a href="" class ="logo-menu__link">
                <svg width="190" 
                    height="85" 
                    aria-label="logo - menu" 
                    class="icon-logo-menu"
                >
                    <use
                    href="./images/svg-images/source-svg.svg#logo-icon"
                    ></use>
                </svg>
            </a>
        </div>
        <nav class="nav">
            <ul class="nav__menu">
                <li class="nav__item">
                    <a href="#aboutus" class="nav__link">About us</a>
                </li>
                <li class="nav__item">
                    <a href="#program" class="nav__link">Program</a>
                </li>
                <li class="nav__item">
                    <a href="#reviews" class="nav__link">Reviews</a>
                </li>
                <li class="nav__item">
                    <a href="#contacts" class="nav__link">Contacts</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="menu-close">
            <svg
                width="32"
                height="32"
                aria-label="menu - close"
                class="icon-close-menu"
            >
                <use
                href="./images/svg-images/source-svg.svg#close-icon"
                ></use>
            </svg>
        </button>
    </div>
</div>