<section class="header container container--broad">
  <div class="header-logo">
    <a href="" class="header-logo__link">
      <svg class="heaer-logo__icon">
        <use href="./images/svg-images/source-svg.svg#logo-icon"></use>
      </svg>
    </a>
  </div>
  <div class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a href="" class="header-nav__link header-nav__link--current"
          >About us</a
        >
      </li>
      <li class="header-nav__item">
        <a href="" class="header-nav__link">Program</a>
      </li>
      <li class="header-nav__item">
        <a href="" class="header-nav__link">Reviews</a>
      </li>
      <li class="header-nav__item">
        <a href="" class="header-nav__link">Contacts</a>
      </li>
    </ul>
  </div>
</section>
