<footer class="page-footer">
  <address class="page-footer__address container">
    <ul class="page-footer__list list">
      <li class="page-footer__item">
        <a href="tel:+9102228855" class="page-footer__link link">
          <svg width="13" height="12" class="page-footer__icon">
            <use
              href="./images/svg-images/source-svg.svg#phone-icon"
            ></use></svg
          >(910)222-8855</a
        >
      </li>
      <li class="page-footer__item">
        <a
          href="https://goo.gl/maps/vKEkmZHybh7vCMkg8"
          target="_blank"
          rel="noopener noreferrer"
          class="page-footer__map link"
        >
          <svg width="13" height="12" class="page-footer__icon">
            <use
              href="./images/svg-images/source-svg.svg#location-icon"
            ></use></svg
          >New York</a
        >
      </li>
    </ul>
  </address>
</footer>
