<div class="site-page-header container container--broad">
  <!-- <img
    class="page-header__img"
    src="./images/desctop/donuts.png"
    alt="donuts"
  /> -->
  <div class="page-header-logo">
    <a href="" class="page-header-logo__link">
      <svg class="heaer-logo__icon">
        <use href="./images/svg-images/source-svg.svg#logo-icon"></use>
      </svg>
    </a>
  </div>
  <div class="page-header-nav">
    <ul class="page-header-nav__list">
      <li class="page-header-nav__item">
        <a href="" class="page-header-nav__link page-header-nav__link--current"
          >About us</a
        >
      </li>
      <li class="page-header-nav__item">
        <a href="" class="page-header-nav__link">Program</a>
      </li>
      <li class="page-header-nav__item">
        <a href="" class="page-header-nav__link">Reviews</a>
      </li>
      <li class="page-header-nav__item">
        <a href="" class="page-header-nav__link">Contacts</a>
      </li>
    </ul>
  </div>
  <button class="burger-menu btn-menu" type="button">
    <svg class="burger-menu__icon">
      <use href="./images/svg-images/source-svg.svg#burger-menu-icon"></use>
    </svg>
  </button>
</div>
