<section class="program section">
    <div class="container program__container">
        <div class="program__section program__section--text">
            <h2 class="program__title">
                Program
            </h2>
            <p class="program__text">
                Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!
            </p>
            <ul class="program__list list">
                <li class="programm__item">> A stand up history of donuts</li>
                <li class="programm__item">> Make 3 donut flavors of your choice</li>
                <li class="programm__item">> Enjoy all-you-can-eat donuts</li>
                <li class="programm__item">> Cocktail pairings and coffee included</li>
                <li class="programm__item">> Photoshoot by professional photographer</li>
                <li class="programm__item">> Secret receipt of cooking from Eva</li>
                <li class="programm__item">> All products are included in the price</li>
            </ul>
            <input type="checkbox" id="checkbox" class="program__ckeckbox hidden-text visualy-hidden">

            <p class="program__text-more paragraph paragraph--shown">
                Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional in donuts cooking!
            </p>

            <label for="checkbox" class="program__button btn-secondary"><span class="btn-secondary--more">Read
                    more</span> <span class="btn-secondary--less">Less</span></label>
        </div>
        <div class="program__section">
            <ul class="event list">
                <li class="event__item">

                    <picture>
                        <source media="(max-width:767px)" srcset="./images/mobile/donut-1.png">
                        <source media=" (max-width:1199px)" srcset="./images/tablet/donut-1.png">
                        <source media="(min-width:1280px)" srcset="./images/desctop/donut-1.png">
                        <img src="./images/mobile/donut-1.png" alt="donut" class="event_img">
                    </picture>


                    <p class="event__title">Type of the event</p>
                    <p class="event__info">Cooking classes</p>
                    <svg class="event__svg" width="19" height="19">
                        <use href="./images/svg-images/source-svg.svg#chef-hat-icon">
                        </use>
                    </svg>
                </li>

                <li class="event__item">
                    <picture>
                        <source media="(max-width:767px)" srcset="./images/mobile/donut-2.png">
                        <source media=" (max-width:1199px)" srcset="./images/tablet/donut-2.png">
                        <source media="(min-width:1280px)" srcset="./images/desctop/donut-2.png">
                        <img src="./images/mobile/donut-2.png" alt="donut" class="event_img">
                    </picture>

                    <p class="event__title">Number of guests</p>
                    <p class="event__info">1 to 20</p>
                    <svg class="event__svg" width="19" height="19">
                        <use href="./images/svg-images/source-svg.svg#people-icon">

                        </use>
                    </svg>
                </li>
                <li class=" event__item">
                    <picture>
                        <source media="(max-width:767px)" srcset="./images/mobile/donut-3.png">
                        <source media=" (max-width:1199px)" srcset="./images/tablet/donut-3.png">
                        <source media="(min-width:1280px)" srcset="./images/desctop/donut-3.png">
                        <img src="./images/mobile/donut-3.png" alt="donut" class="event_img">
                    </picture>

                    <p class="event__title">Time of the event</p>
                    <p class="event__info">18:30 (2.5 hours)</p>
                    <svg class="event__svg" width="19" height="19">
                        <use href="./images/svg-images/source-svg.svg#clock-icon">
                        </use>
                    </svg>
                </li>
                <li class="event__item">

                    <picture>
                        <source media="(max-width:767px)" srcset="./images/mobile/donut-4.png">
                        <source media=" (max-width:1199px)" srcset="./images/tablet/donut-4.png">
                        <source media="(min-width:1280px)" srcset="./images/desctop/donut-4.png">
                        <img src="./images/mobile/donut-4.png" alt="donut" class="event_img">
                    </picture>

                    <p class="event__title">The host speaks</p>
                    <p class="event__info">English, French</p>
                    <svg class="event__svg" width="19" height="19">
                        <use href="./images/svg-images/source-svg.svg#chat-icon">

                        </use>
                    </svg>
                </li>
            </ul>

        </div>
    </div>
</section>