<section class="registration-section">
  <h2 class="registration-section__header">registration</h2>
  <p class="registration-section__text">Apply your personal info
for registration </p>
  <form class="registration-section__form form">
    <div class="registration-section__input-box">
      <input type="text" class="input" name="name" placeholder="Your name" />
      <input type="tel"class="input" name="phone"placeholder="Phone number"/>
      <input type="email"class="input" name="email"placeholder="Email"/>
    </div>
    <button class="btn-primary registration-section__btn" type="submit">Send</button>
  </form>
</section>