<section class="registration">
  <div class="container">
    <h2 class="registration__title registration__title-desktop">Registration</h2>
   <div class="registration__field">
    <h2 class="registration__title registration__title-mobile">Registration</h2>
    <div class="registration__wrap">
      <div class="registration__info">
         <time class="registration__text" datetime="05-23T11:00">May 23, 11:00</time> 
          <p class="registration__text">New York</p>
         <p class="registration__text">$ 699</p>
      </div>
      <form class="registration__form form">
        <div>
          <p class="form__paragraph">Apply your personal info
            for registration </p>
            <input class="form__input-register" 
            type="text" 
            placeholder="Your Name" 
            required pattern="^[a-zA-Z]+\s[a-zA-Z]+$" 
            title="Username must be two words separated by space." >
            <input class="form__input-register" 
            type="number" 
            placeholder="Phone number" 
            minlength="" 
            maxlength="12"
            required >
            <input class="form__input-register" 
            type="email" 
            placeholder="Email" 
            required >
         </div>
      <button class="btn-primary register__button" type="submit">Register</button>
    </form>
  </div>
</section>