<section class="reviews" id="reviews">
    <div class="reviews__hidden">
        <picture class="reviews__photo">
            <source srcset="./images/mobile/will.png 1x, ./images/mobile/will@2x.png 2x, ./images/mobile/will@3x.png 3x" media="(min-width: 320px)" />
            <source srcset="./images/tablet/will.png 1x, ./images/tablet/will@2x.png 2x, ./images/tablet/will@3x.png 3x" media="(min-width: 768px)" />
            <source srcset="./images/desktop/will.png 1x, ./images/desktop/will@2x.png 2x, ./images/desktop/will@3x.png 3x" media="(min-width: 1280px)" />
            <img src="./images/desktop/will.png"  class="reviews__photo" alt="Will" />
        </picture>
        <picture class="reviews__photo">
            <source srcset="./images/mobile/elisabeth.png 1x, ./images/mobile/elisabeth@2x.png 2x, ./images/mobile/elisabeth@3x.png 3x" media="(min-width: 320px)" />
            <source srcset="./images/tablet/elisabeth.png 1x, ./images/tablet/elisabeth@2x.png 2x, ./images/tablet/elisabeth@3x.png 3x" media="(min-width: 768px)" />
            <source srcset="./images/desktop/elisabeth.png 1x, ./images/desktop/elisabeth@2x.png 2x, ./images/desktop/elisabeth@3x.png 3x" media="(min-width: 1280px)" />
            <img src="./images/desktop/elisabeth.png"  class="reviews__photo" alt="Elisabeth" />
        </picture>
        <picture class="reviews__photo">
            <source srcset="./images/mobile/john.png 1x, ./images/mobile/john@2x.png 2x, ./images/mobile/john@3x.png 3x" media="(min-width: 320px)" />
            <source srcset="./images/tablet/john.png 1x, ./images/tablet/john@2x.png 2x, ./images/tablet/john@3x.png 3x" media="(min-width: 768px)" />
            <source srcset="./images/desktop/john.png 1x, ./images/desktop/john@2x.png 2x, ./images/desktop/john@3x.png 3x" media="(min-width: 1280px)" />
            <img src="./images/desktop/john.png"  class="reviews__photo" alt="John" />
        </picture>
    </div>
    <div class="container">
        <div class="reviews__header">
            <h2 class="reviews__title">
                Reviews
            </h2>
        </div>
        <div class="reviews__body">
            <div class="reviews__navigation">  
                <button type="button" class="reviews__button reviews__button--left">
                    <span class="reviews__photo-wrapper reviews__photo-wrapper--secondary">
                    </span>
                    <span class="reviews__stars reviews__stars--secondary">
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                    </span>
                    <span class="reviews__article-title">
                        hello
                    </span>
                </button>

                <button type="button" class="reviews__button reviews__button--right">
                    <span class="reviews__photo-wrapper reviews__photo-wrapper--secondary">
                    </span>
                    <span class="reviews__stars reviews__stars--secondary">
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                    </span>
                    <span class="reviews__article-title">
                        there
                    </span>
                </button>
            </div>

            <div class="reviews__main">
                <article class="reviews__article">
                    <div class="reviews__photo-wrapper">
                    </div>
                    <div class="reviews__stars reviews__stars--main">
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                        <svg class="reviews__svg" width="24" height="24">
                            <use href="./images/svg-images/source-svg.svg#star-icon">
                            </use>
                        </svg>
                    </div>
                    <div class="reviews__article-title">
                        Param pam pam
                    </div>
                    <p class="reviews__text">
                        Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone! 
                    </p>
                </article>
            </div>


        </div>
        <div class="reviews__pager">
            <button type="button" class="reviews__pager-nav reviews__pager-nav--left">
                <span class="reviews__pager-nav-line"></span>
            </button>
            <button type="button" class="reviews__pager-nav reviews__pager-nav--main">2/15</button>
            <button type="button" class="reviews__pager-nav reviews__pager-nav--right">
                <span class="reviews__pager-nav-line"></span>
            </button>
        </div>
    </div>
</section>