.background-top {
  position: relative;

  @media screen and (min-width: 320px) {
    &::before {
      content: '';
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: 100% auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      background-image: url('/src/images/svg-images/bg-top-mobile.svg');
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      content: '';
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: 100% auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      background-image: url('/src/images/svg-images/bg-top-tablet.svg');
    }
  }

  @media screen and (min-width: 1280px) {
    &::before {
      content: '';
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: 100% auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      background-image: url('/src/images/svg-images/bg-top-desktop.svg');
    }
  }
}

.background-bottom {
  position: relative;

  @media screen and (min-width: 320px) {
    &::before {
      content: '';
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: 100% auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      background-image: url('/src/images/svg-images/bg-bottom-mobile.svg');
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      content: '';
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: 100% auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      background-image: url('/src/images/svg-images/bg-bottom-tablet.svg');
    }
  }

  @media screen and (min-width: 1280px) {
    &::before {
      content: '';
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: 100% auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      background-image: url('/src/images/svg-images/bg-bottom-desktop.svg');
    }
  }
}
