.background {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-image: url('/src/images/svg-images/bg-top-mobile.svg'),
    url('/src/images/svg-images/bg-bottom-mobile.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top 0, bottom 181px;
  background-size: 100% 460px, 100% 1337px;

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/svg-images/bg-top-tablet.svg'),
      url('/src/images/svg-images/bg-bottom-tablet.svg');
    background-size: 100% 622px, 100% 1519px;
    background-position: top 0, bottom 249px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('/src/images/svg-images/bg-top-desktop.svg'),
      url('/src/images/svg-images/bg-bottom-desktop.svg');
    background-size: 100% 1035px, 100% 2073px;
    background-position: top 0, bottom 0;
  }

  @media screen and (min-width: 1600px) {
    background-size: 1600px 1035px, 1600px 2073px;
  }
}
