.contact-section{
  padding-top: 16px;
  padding-bottom: 32px;
    @media (min-width: 768px){
      padding-top: 39px;
    }
    @media (min-width: 1280px){
      padding-top: 80px;
      padding-bottom: 24px;
    }

  &__header{
    font-family: 'Caveat Brush';
    font-size: 24px;
    text-align: center;
    color: $text-color-main;
    margin-bottom: 16px;

      @media (min-width: 768px){
        margin-bottom: 20px;
      }
      @media (min-width: 1280px){
        font-size: 36px;
      }

  }
  &__text{
    text-align: center;
    margin-bottom: 16px;

  }
  &__input-box{
    margin-bottom: 32px;
      @media (min-width: 1280px){
        margin-bottom: 20px;
      }
  }
  &__btn{
    display: block;
    margin: 0 auto;
  }
}
