.contact-section{
  padding-top: 16px;
  padding-bottom: 16px;
  &__header{
    font-family: 'Caveat Brush';
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: $text-color-main;
    margin-bottom: 16px;

      @media (min-width: 768px){
        margin-bottom: 20px;
      }
      @media (min-width: 1280px){
        font-size: 36px;
      }

  }
  &__text{
    line-height: 1.25;
    text-align: center;
    margin-bottom: 16px;

        @media (min-width: 1280px){
          font-size: 18px;
          line-height: 1.22;
        }
  }
  &__btn{
    display: block;
    margin: 0 auto 32px;
  }
}
