.event {
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 130px 130px;
  gap: 64px 20px;

  @media (min-width: 768px) {
    gap: 50px 33px;
  }
  @media (min-width: 1280px) {
    gap: 80px 140px;
  }
}
.event__item {
  position: relative;

  padding-top: 48px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fef3e4;
  box-shadow: $shadow-program-circle;

  &:nth-child(2n) {
    position: relative;
    top: 36px;

    @media (min-width: 768px) {
      top: 55px;
    }

    @media (min-width: 1280px) {
      top: 128px;
    }
  }

  @media (min-width: 768px) {
    padding-top: 53px;
    width: 152px;
    height: 152px;
  }

  @media (min-width: 1280px) {
    padding-top: 65px;
    width: 180px;
    height: 180px;
  }
}

.event__item--donut1::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0%;
  background-image: url(../images/mobile/donut-1.png);
  background-size: 77px 80px;
  background-repeat: no-repeat;
  background-position: center;
  width: 77px;
  height: 80px;
  transform: translate(-50%, -50%);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/mobile/donut-1@2x.png);
  }

  @media (min-width: 768px) {
    background-size: 82px 91px;
    width: 82px;
    height: 91px;
    background-image: url(../images/tablet/donut-1.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/tablet/donut-1@2x.png);
    }
  }
  @media (min-width: 1280px) {
    background-size: 97px 107px;
    width: 97px;
    height: 107px;
    background-image: url(../images/desktop/donut-1.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/desktop/donut-1@2x.png);
    }
  }
}

.event__item--donut2::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0%;
  background-image: url(../images/mobile/donut-2.png);
  background-size: 75px 80px;
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 80px;
  transform: translate(-50%, -50%);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/mobile/donut-2@2x.png);
  }

  @media (min-width: 768px) {
    background-size: 69px 77px;
    width: 69px;
    height: 77px;
    background-image: url(../images/tablet/donut-2.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/tablet/donut-2@2x.png);
    }
  }
  @media (min-width: 1280px) {
    background-size: 83px 92px;
    width: 83px;
    height: 92px;
    background-image: url(../images/desktop/donut-2.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/desktop/donut-2@2x.png);
    }
  }
}

.event__item--donut3::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0%;
  background-image: url(../images/mobile/donut-2.png);
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-position: center;
  width: 78px;
  height: 80px;
  transform: translate(-50%, -50%);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/mobile/donut-3@2x.png);
  }

  @media (min-width: 768px) {
    background-size: 74px 82px;
    width: 74px;
    height: 82px;
    background-image: url(../images/tablet/donut-3.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/tablet/donut-3@2x.png);
    }
  }
  @media (min-width: 1280px) {
    background-size: 88px 97px;
    width: 88px;
    height: 97px;
    background-image: url(../images/desktop/donut-3.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/desktop/donut-3@2x.png);
    }
  }
}
.event__item--donut4::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0%;
  background-image: url(../images/mobile/donut-4.png);
  background-size: 74px 80px;
  background-repeat: no-repeat;
  background-position: center;
  width: 74px;
  height: 80px;
  transform: translate(-50%, -50%);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/mobile/donut-4@2x.png);
  }

  @media (min-width: 768px) {
    background-size: 70px 78px;
    width: 70px;
    height: 78px;
    background-image: url(../images/tablet/donut-4.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/tablet/donut-4@2x.png);
    }
  }
  @media (min-width: 1280px) {
    background-size: 83px 92px;
    width: 83px;
    height: 92px;
    background-image: url(../images/desktop/donut-4.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/desktop/donut-4@2x.png);
    }
  }
}

.event__title {
  font-family: 'Caveat Brush';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  text-align: center;

  color: $text-color-second;

  @media (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.25;
  }
}

.event__info {
  margin-top: 4px;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.21;

  text-align: center;

  color: $text-color-second;

  @media (min-width: 768px) {
    margin-top: 8px;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.25;
  }
}

.event__svg {
  margin: auto;
  @media (min-width: 768px) {
    width: 21px;
    height: 21px;
  }

  @media (min-width: 1280px) {
    width: 25px;
    height: 25px;
  }
}
