.form {
  width: 100%;
  max-width: 280px;
  @media screen and (min-width: 768px) {
    max-width: 436px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 419px;
  }

  &--contact {
    @media screen and (min-width: 768px) {
      max-width: 336px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 394px;
    }
  }
}

.form__title {
  text-align: center;
  margin-bottom: 16px;
}

.form__title--registration {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 13px;
  }
}

.form__input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: $border-main;
  padding-bottom: 1px;
  display: block;
  background-color: transparent;
  line-height: 1.25;
    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 32px;
    }
}

.form__input--registration {
  &:last-child {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}
