.form {
    width: 100%;
    max-width: 280px;
    padding-left: 8px;
    padding-right: 8px;

    &--contact {
        padding-left: 0px;
        padding-right: 0px;
    }


    @media screen and (min-width: 768px) {
        max-width: 237px;
        padding-left: 0px;
        padding-right: 0px;

        &--contact {
            max-width: 336px;
        }
    }

    @media screen and (min-width: 1280px) {
        max-width: 238px;

        &--contact {
            max-width: 394px;
        }
    }
}

.form__input {
    width: 100%;
    border: none;
    border-bottom: $border-main;
    display: block;
    background-color: transparent;
    line-height: 1.25;

    &:not(:last-child) {
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            margin-bottom: 16px;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 14px;
        }
    }
}