.form {
  width: 100%;
  max-width: 280px;
  @media screen and (min-width: 768px) {
    max-width: 436px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 419px;
  }

  &--contact {
    @media screen and (min-width: 768px) {
      max-width: 336px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 394px;
    }
  }
}

.form__title {
  text-align: center;
  margin-bottom: 16px;
}

.form__title--registration {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 13px;
  }
}

.form__input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: $border-main;
  border-radius: 3px;
  padding: 0 6px 1px;
  display: block;
  background-color: transparent;
  line-height: 1.25;
  font-size: 16px;
  outline: none;
    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
    &::placeholder {
      color: $text-color-placeholder;
    }
    &:not(:placeholder-shown):not(:focus):required:invalid {
      border-color: $invalid-input-color;
      color: $invalid-input-color;
    }
    &:focus-within {
      box-shadow: 0 0 1px 3px $bgc-main, 0 0 1px 5px $button-main-bgc;
    }
}

.form__input--registration {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
}

.form__input--contact {
  margin-bottom: 32px;
}
