.page-footer {
  padding-bottom: 20px;
  overflow: hidden;
  &__social{
    margin-bottom: 32px;
     @media (min-width: 768px) {
         margin-bottom: 59px;
    }
      @media (min-width: 1280px) {
        margin-bottom: 80px;
    }
  }
  &__address {
    position: relative;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    font-style: normal;
    font-weight: 400;
    z-index: 10;
  }
  &__item:last-child{
      margin-left: auto;
       @media (min-width: 768px) {
         margin-left: 468px;
    }
      @media (min-width: 1280px) {
        margin-left: 620px;
    }
  }
  &__link {
    color: $text-color-main;
  }
 
  &__link:hover,
  &__link:focus,
  &__map:hover,
  &__map:focus {
    color: $hover-color;
  }
  &__icon {
    display: inline-block;
    margin-right: 4px;
    fill: currentColor;
  }
}
.page-footer__address::after {
  display: block;
  font-size: 0;
  position: absolute;
  content: url(../images/mobile/flour.png);
  width: 113px;
  height: auto;
  bottom: -20px;
  right: -29px;
  @media (min-width: 768px) {
    content: url(../images/tablet/flour.png);
    width: 207px;
    height: 119px;
    right: -23px;
  }
  @media (min-width: 1280px) {
    content: url(../images/desctop/flour.png);
    width: 355px;
    height: auto;
    right: -52;
  }
}
