.program {
  padding-top: 16px;
  padding-bottom: 51px;

  @media (min-width: 768px) {
    padding-top: 44px;
    padding-bottom: 76px;
  }

  @media (min-width: 1280px) {
    padding-top: 22px;
    padding-bottom: 170px;
  }
}

.program__container {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.program__section--text {
  @media (min-width: 768px) {
    width: 336px;
  }

  @media (min-width: 1280px) {
    width: 392px;
  }
}

.program__section--event {

  @media (min-width: 1280px) {
    padding-top: 43px;
  }
}

.program__title {
  margin-bottom: 8px;

  font-family: 'Caveat Brush';
  font-size: 24px;
  line-height: 1.25;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  @media (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.81;
  }
}

.program__text {
  margin-bottom: 8px;

  @media (min-width: 1280px) {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.programm__item {
  @media (min-width: 768px) {
    min-height: 22px;
  }
  
}

.programm__item:not(:last-child) {
  margin-bottom: 8px;

  @media (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.program__ckeckbox:checked ~ .program__text-more {
  margin-top: 8px;
}

.program__text-more {
  @media (min-width: 1280px) {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.22;
  }
}
.program__button {
  //   display: inline-block;
  margin-top: 16px;
  margin-bottom: 55px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
