.registration__field { 
  position: relative;
  background-color: $bgc-desktop-main;
  box-shadow: $shadow-registration-form;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  text-align:center;
  // overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 704px;
    border-radius: 150px;
    &::before {
      position: absolute;
      top: -93px;
      left: -47px;
      font-size: 0;
      width: 235px;
      height: 231px;
      content: ' ';
      z-index: -1;
      background-image: url(../images/tablet/donut-5.png);
      background-size: 235px 231px;
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/tablet/donut-5@2x.png);
      }
      @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
        background-image: url(../images/tablet/donut-5@3x.png);
      }
    }
    &::after {
      position: absolute;
      bottom: -138px;
      right: -128px;
      font-size: 0;
      width: 307px;
      height: 374px;
      content: ' ';
      z-index: -1;
      background-image: url(../images/tablet/confetti.png);
      background-size: 307px 374px;
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/tablet/confetti@2x.png);
      }
      @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
        background-image: url(../images/tablet/confetti@3x.png);
      }
    }
  }
  @media screen and (min-width: 1280px) {
    width: 822px;
    &::before {
      position: absolute;
      top: -69px;
      left: -150px;
      font-size: 0;
      width: 257px;
      height: 255px;
      content: ' ';
      z-index: -1;
      background-image: url(../images/desktop/donut-5.png);
      background-size: 257px 255px;
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/desktop/donut-5@2x.png);
      }
      @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
        background-image: url(../images/desktop/donut-5@3x.png);
      }
    }
    &::after {
      position: absolute;
      bottom: -297px; 
      right: -189px;
      font-size: 0;
      width: 532px;
      height: 589px;
      content: ' ';
      z-index: -1;
      background-image: url(../images/desktop/confetti.png);
      background-size: 532px 589px;
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/desktop/confetti@2x.png);
      }
      @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
        background-image: url(../images/desktop/confetti@3x.png);
      }
    }
  }
  }
.container {
  margin-left: auto;
  margin-right: auto;
}
.registration {
  z-index: 1;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px){
    padding-bottom: 97px;
    padding-top: 97px;
  }
}
.registration__title {
font-family: 'Caveat Brush';
font-size: 24px;
line-height: 65px;
color: $text-color-main;
text-align: center;
font-weight: 400;
@media screen and (min-width: 768px){
margin-bottom: 8px;
}
@media screen and (min-width: 1280px){
  margin-bottom: 16px;
  font-size: 36px;
}
}
.registration__title-desktop {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
  }
}
.registration__title-mobile {
 @media screen and (min-width: 768px){
   display: none;
 }
}
.registration__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $text-color-main;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    &:nth-child(2){
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
  @media screen and (min-width: 1280px) {
  font-size: 20px;
  line-height: 24px;
}
}
.registration__info {
  border-bottom: $border-light;
  // margin-top: 82px;
  width: 264px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    border-bottom:none;
    margin-left: 50px; 
    margin-right: 24px;
    padding-right: 32px;
    border-right: $border-light;
    margin-top: 0;
    text-align: end;
    min-height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  @media screen and (min-width: 1280px) {
    height: 190px;
    margin-right: 32px;
    margin-left: 107px;
    justify-content: start;
    padding-top: 20px;
  }
}
.form__paragraph {
  color: $text-color-main;
  margin-top: 8px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px){
    text-align: start;
    width: 237px;
    margin-top: 0;
  }
  @media screen and (min-width: 1280px){
    margin-bottom: 13px;
}}
.registration__form {
  @media screen and (min-width: 768px){
    display: flex;
    align-items: center;
  }
}
.form__input-register {
  border: none;
  border-bottom: 1px solid #ab816c;
  width: 264px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(171, 129, 108, 0.5);
  cursor: pointer;
  &:not(:last-child){
     margin-bottom:20px;
     @media screen and (min-width: 1280px){
      margin-bottom: 15px;
   }
  }
  @media screen and (min-width: 768px){
     width: 237px;
  }
  @media screen and (min-width: 1280px){
     width: 238px;
  }
}
.register__button {
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    margin-right: 60px;
    margin-left: 55px;
    margin-top: 0;
  }
  @media screen and (min-width: 1280px) {
  margin-right: 105px;
  margin-left: 23px;
}
}
.registration__wrap {
  // padding-top: 32px;
  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
  @media screen and (min-width: 1280px) {
  padding-top: 35px;
  padding-bottom: 35px;
}
}